*{
    margin: 0;
    padding: 0;
    font-family: Century;
}

header {
    background-image: url(../848.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #7d0096;
    padding: 5px 20px;
    border: 1px solid #ff00fa;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #ff00fa;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}